<li><a href="/recipes">Recipes</a></li>
<li><a href="/recipes/new">New Recipe</a></li>

<style>
body {
    background-color: red;
    opacity: 0.9;
}
</style>
<body>

<h3>Editing Editing Editing Editing</h3><br>
<h1><%= @recipe.name %></h1>


<form action="/recipes/<%=@recipe.id%>" method="post">
<input type="hidden" name="_method" value="patch" />
    <p>Recipe:<input type="text" name="recipe[name]" value="<%=@recipe.name%>"></p>
    <p>Description:<textarea type="text" name="recipe[description]" value="<%=@recipe.description%>"></textarea></p>
 

<input type="submit" value="Modify Recipe" id="submit"/>
</form>

<% if logged_in? %>
<form method="post" action="/logout">
<p class="bg-danger"><input type="submit" value="Log Out"></p>
</form>
<% end %>