<h1>Create Recipe</h1>
<form action="/recipes" method="post">

    <p>Recipe Name:<input type="text" name="name"></p>
    <p>Description:<input type="text" name="description"</p>
    <!--     <p>Ingredient:</p>
   <input type="checkbox" id="ingredient" name="ingredient" value="Bread">
    <label for="Ingredient 1">Bread</label>
    <input type="checkbox" id="ingredient" name="ingredient" value="Rice">
    <label for="Ingredient 2">Rice</label>
    <input type="checkbox" id="ingredient" name="ingredient" value="Cheese">
    <label for="Ingredient 3">Cheese</label>
    <input type="checkbox" id="ingredient" name="ingredient" value="Vegetables">
    <label for="Ingredient 4">Vegetables</label>
    <input type="checkbox" id="ingredient" name="ingredient" value="Meat">
    <label for="Ingredient 5">Meat</label>
    <input type="checkbox" id="ingredient" name="ingredient" value="Seafood">
    <label for="Ingredient 6">Seafood</label>
    <input type="checkbox" id="ingredient" name="ingredient" value="Noodles">
    <label for="Ingredient 7">Noodles/Ramen/Pasta</label>
    <input type="checkbox" id="ingredient" name="ingredient" value="Sauce">
    <label for="Ingredient 8">Sauce</label> -->

    
    <input type="submit" value="Create Recipe"/>
</form>
