<h1>Create Recipe</h1>
<form action="/recipes" method="post">

    <p>Recipe Name:<input type="text" name="name"></p>
    <p>Description:<input type="text" name="description"</p><br><br>
   <!-- <p>Ingredient:<input type="text" name="ingredient"</p> -->
    
    <input type="submit" value="Create Recipe"/>
</form>
