<li><a href="/recipes">Recipes</a></li>
<li><a href="/recipes/new">New Recipe</a></li>

<style>
body {
    background-color: lightgreen;
    opacity: 0.9;
}
</style>
<body>

<h1><%= @recipe.name %></h1>
<h3><%= @recipe.description %></h3>

<% if @recipe.user == current_user %>
<a href="/recipes/<%=@recipe.id%>/edit">Edit</a>

<form method="post" action="/recipes/<%=@recipe.id%>">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Recipe">
</form>
<% end %>

<% if logged_in? %>
<form method="post" action="/logout">
<p class="bg-danger"><input type="submit" value="Log Out"></p>
<% else %>
<h3 class="bg-danger"><a href="/signup">Sign up</a></h3>
</form>
<% end %>