
<style>
body {
    background-color: lightblue;
    opacity: 0.9;
}
</style>
<body>
<h3 class="bg-danger"><a href="/signup">Sign up</a></h3>

<h1 class="bg-success">Login</h1>
<form method="post" action="/login">
<label for="email">Email:</label>
<input type="text" name="email">
<label for="password">Password:</label>
<input type="password" name="password">

<input type="submit" value="Login">
</form>
</body>
