<style>
body {
    background-color: brown;
    opacity: 0.9;
}
</style>
<body>

<h3><a href="/login">Login</a></h3>

<h1>Register Here</h1>
<form method="post" action="/signup">
<label for="email">Email:</label>
<input type="text" name="email">
<label for="password">Password:</label>
<input type="password" name="password">

<input type="submit" value="Sign Up">
</form>