
<!DOCTYPE html>
<html>
<head><title>Recipe</title></head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<body class="background-color: #92a8d1">
<h1></h1>
<ul>
<!-- <li><a href="/recipes">Recipes</a></li>
<li><a href="/recipes/new">New Recipe</a></li> -->

</ul>
<%= yield %>
<footer class="text-danger">Recipes 2021</footer>
</body>
</html>
