<!DOCTYPE html>
<html>
<head><title>Recipe</title></head>
<body
<h1></h1>
<ul>
<li><a href="/recipes">Recipes</a></li>
<li><a href="/recipes/new">New Recipe</a></li>
</ul>
<%= yield %>
</body>
</html>
