    <!DOCTYPE html>
    <html>
    <head></head>
    <body>
    
    <div class="content">
      <p>Welcome</p>
      
      <p>Are you can existing User?</p>
      <p><a href="/login">Login</a></p><br>
      <p>or</p>
      <p>Are you a new User?</p>
      <p><a href="/signup">Sign Up</a></p><br>


      <a href="/recipes">Recipes</a>
      <a href="/recipes/new">New Recipe</a>
    </div>
    </body>
    </html>